.course-detail-info {
  background-color: rgb(204, 200, 200);
}
.btnBuyCourse {
  width: auto;
  font-size: 18px;
  padding: 10px;
  background-color: #0f3256;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
}

.accordion-lesson {
  padding: 0;
  margin: 0;
}

.btnBuyCourse:hover {
  background-color: #f0870a;
  color: black;
  text-decoration: solid;
}

.buy-course {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.author-info {
  font-size: 18px;
}

.author-image {
  max-width: 45%;
  border-radius: 50%;
}

.accordion-header {
    border: 1px solid rgb(159, 158, 158) none;
}

.accordion-button {
  background-color: rgb(248, 244, 244) !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}

::ng-deep app-course-card .card {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
